*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   
}
body{
    background-color: salmon;
    margin: 20px;
}


h1{
    margin-bottom: 20px;
   }

input, textarea{
    width: 600px; ;
    margin-bottom: 10px;
    height: 30px;
}

textarea{
    height: 100px;
    width: 1205px;
}

#boton{
    margin-left: 1110px;
    margin-top: 10px;
    width: 50px;
    height:20px ;

}